# VSCode
.vscode/
*.code-workspace

# Arduino build artifacts
.build/
*.ino.cpp
*.elf
*.eep
*.hex
*.bin

# PlatformIO
.pio/

# Generic C/C++ build files
*.o
*.obj
*.d
*.a
*.lib

# Output folders
.output/